<h2>
    Notes:
</h2>
<p>
    This dashboard was built using Angular 1.6.7 with the following modules:
</p>

    <ul>
        <li>angular-route</li>
        <li>angular-toastr</li>
        <li>ui-bootstrap</li>
    </ul>
<p>
    The backend uses express, body-parser, log4js, pg and request.
</p>
<p>
    The data store is postgres, I've dumped the schema which can be found in the database directory.
</p>

<p>
    If you want to run it locally you'll need to provide the database connection parameters in the config.js file.
    I've kept the project as one big monolith rather than splitting into three to make it easier to run up locally.
    I'm running Node version 6 here.<br/>
</p>
<p>
    I'm pretty happy although there is a bit of work left to do with the UI and validation.
    If you have any questions please do not hesitate to contact me.
</p>
<p>
    Paul Hodgson (<a href="mail-to:prhodgson1@gmail.com">prhodgson1@gmail.com</a>)
</p>

</p>